@import '@/styles/variables';

.copyButton {
  @include button-styles;

  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  position: relative;
  background-color: $color-nav-bar;
}
