@import '../../styles/variables';

.pageHeader {
  @include limit-max-inner-width;

  background-color: $color-gray-light;
  margin-bottom: $spacing-unit;
  padding-top: $spacing-unit-l;
  padding-bottom: $spacing-unit-l;

  .flexBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-unit;
  }

  .tabBarList {
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin-top: $spacing-unit-s;
  }

  .tabBarListItem,
  .activeTabBarListItem {
    display: inline-block;
    padding: $spacing-unit-xs 0;
    border-bottom: 2px solid transparent;
    color: $color-text-light;
    font-weight: 500;
    transition: 0.1s all ease-out;
  }

  .activeTabBarListItem {
    border-bottom-color: $color-blue;
    color: $color-text;
  }

  .tabBarListItem:not(:last-child),
  .activeTabBarListItem {
    margin-right: $spacing-unit;
  }

  .tabBarListItem:not(.activeTabBarListItem):hover {
    border-bottom-color: $color-gray;
    color: $color-text;
  }

  .tabBarButtons {
    @include button-styles($modifier: inline);
  }

  .tabBarListItem {
    button {
      margin-left: calc(#{$spacing-unit-xl} * 1.5);
    }
  }

  .count {
    display: inline-block;
    margin-left: $spacing-unit-xs;
    padding: 0 0.75em;
    background-color: $color-gray;
    color: #fff;
    font-size: $font-size-xs;
    border-radius: $border-radius-full;
  }
}
