$spacing-unit: 2rem;
$spacing-unit-xs: calc(0.25 * $spacing-unit);
$spacing-unit-s: calc(0.5 * $spacing-unit);
$spacing-unit-l: calc(1.5 * $spacing-unit);
$spacing-unit-xl: calc(2 * $spacing-unit);
$grid-max-width-xs: 30rem;
$grid-max-width-s: 38rem;
$grid-max-width: 48rem;
$grid-max-width-l: 56rem;
$nav-bar-height: calc(2.5 * $spacing-unit);
$font-size: 1rem;
$font-size-s: 0.85em;
$font-size-xs: 0.75em;
$color-nav-bar: #002332;
$color-nav-bar-links: rgb(255 255 255 / 80%);
$color-bg: #fff;
$color-gray: #868e92;
$color-gray-light: #e9edf0;
$color-gray-lightest: #f5f6f9;
$color-primary: #ff00a0;
$color-blue: #007eff;
$color-blue-lightest: #dbefff;
$color-focus: $color-blue;
$input-focus-shadow: 0 0 0 3px $color-blue-lightest;
$border-radius-full: 9999px;
$input-padding: $spacing-unit-xs $spacing-unit-s;
$line-height: 1.6em;
$color-text: #333;
$color-text-light: #656565;
$font-family:
  inter,
  helvetica neue,
  helvetica,
  sans-serif;

@mixin limit-max-inner-width($limit: $grid-max-width) {
  padding-left: calc(max(#{$spacing-unit}, (100% - #{$limit}) / 2));
  padding-right: calc(max(#{$spacing-unit}, (100% - #{$limit}) / 2));
}

@mixin button-styles($modifier: false) {
  $text-color: #fff;
  $background-color: $color-primary;
  $border-color: rgb(0 0 0 / 10%);

  position: relative;
  display: inline-block;
  padding: $input-padding;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  border-radius: $border-radius-full;
  text-decoration: none;
  background: none;
  font-weight: 500;
  font-size: calc(1.2 * #{$font-size});
  background-color: $background-color;
  color: $text-color;
  border: 1px solid $border-color;

  @if $modifier == inline {
    color: inherit;
    background-color: transparent;
    border-color: transparent;
    padding: $input-padding;
    padding: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    border-color: $color-focus;
    outline: none;
    box-shadow: $input-focus-shadow;
  }
}
